# All files require review from the Heroku Front-End Dev Tools team.

# Comment line immediately above ownership line is reserved for related GUS information.
# Please exercise caution while editing.

#ECCN:Open Source
#GUSINFO:Open Source,Open Source Workflow
* @heroku/frontend-dev-tooling
